@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

/*utilitarios*/
body{
  font-family: 'Lato' !important;
  font-size: 14px;
}

h1, h2, h3, h4{
  font-family: 'Lato';
}

.investment__title-type{
  text-align: center;
  font-size: 16px;
}

/* reactstrap - update*/
.btn {
  font-size: 14px;
  padding: 5px 10px;
}

/*new classes for Gorila*/

.investment__title-type{
  font-weight: bold;
  color: #2b9791;
}
